@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

button:hover {

    scale: 1.2;
    transition: 0.3s;
}

body {

    width: 100%;
    display: grid;
    height: auto;
    grid-template: 100px repeat(5, 40vw) 15vw /1fr;
    background-color: var(--color-background)
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px
}

.checkbtn,
#check {
    display: none;
}


header h1 {
    font-size: 3vw;
    color: var(--color-naranja);
}

header nav {

    padding-right: 30px;
}

header nav ul li {

    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
}

header nav ul li a {
    color: var(--color-white);
    transition: 0.4s;
}

header nav ul li a:hover {

    color: var(--color-naranja);

}

nav ul {

    display: flex;
    height: 100px;
    width: 30vw;
    align-items: center;

}

.home .fws {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.fws .textbox_fws {
    width: 35%;
    height: 50%;
}

.home .fws .textbox_fws h2 {

    color: var(--color-naranja);
    font-size: 5vw;

}

.home .fws .textbox_fws p {

    color: var(--color-white);
    font-size: 2.2vw;
}

.home .fws .textbox_fws p:nth-child(3) {

    margin-bottom: 25px;
}

.home .fws .textbox_fws button {

    width: 35%;
    height: 5vh;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white);
    font-size: 1vw;

}

.home .fws img {

    width: 35%;
}


.aboutus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.aboutus img {
    width: 35%;
}

.aboutus .textbox_aboutus {
    width: 35%;
    height: 45%;
}

.aboutus .textbox_aboutus p:first-child {
    color: var(--color-naranja);
    font-size: 1.7vw;
    margin-bottom: 15px;
}

.aboutus .textbox_aboutus p:nth-child(4) {
    color: var(--color-white);
    font-size: 1.3vw;
}

.aboutus .textbox_aboutus b {
    color: var(--color-white);
    font-size: 3vw;
}

.textbox_aboutus :nth-child(3) {
    color: var(--color-white);
    margin-top: 15px;
    font-size: 1.3vw;
}

.aboutus .textbox_aboutus button {
    width: 35%;
    height: 5vh;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white);
    font-size: 1vw;
    margin-top: 15px;
}

.Menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Menu p:first-child {
    color: var(--color-naranja);
    margin-top: 30px;
    font-size: 2vw
}

.Menu h2 {
    margin: 15px 0px 30px 0px;
    color: var(--color-white);
    font-size: 2.5vw
}

.menuGallery {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 1fr;
    margin-inline: 50px;
    gap: 30px;
    place-content: center;

}

.menuGallery .food {
    background-color: var(--color-beige);
    height: 100%;
    padding: 15px
}

.menuGallery .food img {
    margin: 10px;
    padding: 15px;
    width: 90%;
}

.menuGallery .food p:nth-child(2) {
    font-size: 1.3vw;
}

.menuGallery .food p:nth-child(3) {
    font-size: 1.1vw;
}

.menuGallery .food p:nth-child(4) {
    color: var(--color-naranja);
    font-size: 1.2vw;
}

.servicios {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.servicios p:first-child {
    color: var(--color-naranja);
    margin-top: 30px;
    font-size: 2vw
}

.servicios h2 {

    margin: 15px 0px 30px 0px;
    color: var(--color-white);
    font-size: 2.5vw
}

.serviciosBox {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 1fr;
    margin-inline: 50px;
    gap: 80px;
    place-content: center;
}

.nameServicios img {
    width: 90%;
}

.nameServicios b:nth-child(2) {
    color: var(--color-naranja);
    font-size: 1.6vw;
}

.nameServicios p:nth-child(3) {
    color: var(--color-white);
    font-size: 1.2vw;
    padding: 10px 20px 10px 20px
}

.qualityFood {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualityFood .container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-beige);
    font-size: 2vw;
}

.qualityFood .container h2 {
    display: flex;
    text-align: center;
}

.qualityFood .container button {
    width: 15%;
    height: 5vh;
    font-size: 1vw;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white)
}