@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #030303;
    --clr-main-light: #4d4d4d;
    --clr-white: #ececec;
    --clr-gray: #bebebe;
    --clr-red: #961818;
}