<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/abrigos.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>CampusShop</title>
</head>

<body>
    <aside>
        <h1>CampusShop</h1>
        <div class="productOptions">
            <a href="../index.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/fluency-systems-regular/48/border-all--v2.png"
                    alt="border-all--v2" />
                <p>Todos los productos</p>
            </a>
            <a href="abrigos.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/glyph-neue/64/coat.png" alt="coat" />
                <p>Abrigos</p>
            </a>
            <a href="camisas.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/t-shirt--v1.png"
                    alt="t-shirt--v1" />
                <p>Camisetas</p>
            </a>
            <a href="pantalones.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/glyph-neue/64/trousers.png" alt="trousers" />
                <p>Pantalones</p>
            </a>
        </div>
        <a href="carrito.html" class="carrito">
            <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/shopping-cart.png"
                alt="shopping-cart" />
            <p>Carrito</p>
            <span>3</span>
        </a>
        <p id="copy">©2023 AMIRI by JhoanSB</p>
    </aside>
    <main>
        <section class="container__abrigos">
            <h1>Abrigos</h1>
            <div class="pag_abrigos">
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/29_PRE-SPRING_2024_KNITWEAR_TOP_AMIRI_20REPEAT_20HOODIE_PS24MKH003_GREY_3dec5ea3-23be-49e3-bbca-22b9c5b7fafe.jpg?v=1707665218&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/29C_02_PRE-SPRING_2024_KNITWEAR_TOP_AMIRI_20REPEAT_20HOODIE_PS24MKH003_GREY_1259_69123e8d-8dc5-4149-b014-c3e36f9bd3f5.jpg?v=1707665218&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 01</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/35_PRE-SPRING_2024_KNITWEAR_TOP_BANDANA_20HOODIE_PS24MKH002_BLACK_129ff0f5-4695-4022-8121-d7c547122902.jpg?v=1707664373&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/35_02_PRE-SPRING_2024_KNITWEAR_TOP_BANDANA_20HOODIE_PS24MKH002_BLACK_1523.jpg?v=1707664373&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 02</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/23_INDIGO_20SKYLINE_KNITWEAR_TOP_HOLIDAY_20CAPSULE_20SWEATER_ASHEY_20BLUE_AMKNCW1041-856_1.jpg?v=1706125398&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/23_INDIGO_20SKYLINE_KNITWEAR_TOP_HOLIDAY_20CAPSULE_20SWEATER_ASHEY_20BLUE_AMKNCW1041-856_2.jpg?v=1706125398&width=1440"
                            alt="">
                    </div>

                    <div class="abrigosDescripcion">
                        <h3>Abrigo 03</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/20_INDIGO_20SKYLINE_JERSEY_TOP_HOLIDAY_20CAPSULE_20HOODIE_FADED_20BLACK_1_20_1.jpg?v=1707662558&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/20_INDIGO_20SKYLINE_JERSEY_TOP_HOLIDAY_20CAPSULE_20HOODIE_FADED_20BLACK_AMJYHD1048-051_2_9a7c6b9f-11c9-492e-81fd-a1c221546c15.jpg?v=1707662558&width=1440"
                            alt="">
                    </div>

                    <div class="abrigosDescripcion">
                        <h3>Abrigo 04</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/21_INDIGO_20SKYLINE_JERSEY_TOP_HOLIDAY_20CAPSULE_20HOODIE_ASHLEY_20BLUE_AMJYHD1048-856_1_12fad4ad-9f27-4cae-95b5-9759bd044ba5.jpg?v=1706048261&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/21_INDIGO_20SKYLINE_JERSEY_TOP_HOLIDAY_20CAPSULE_20HOODIE_ASHLEY_20BLUE_AMJYHD1048-856_2_dbb918be-617a-4acf-953e-2a1ff88d972b.jpg?v=1706048261&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 05</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/2_AW23_MENS_JERSEY_TOP_TGCW_20CRYSTAL_20EAGLE_20HOODIE_VINTAGE_20BLACK_EXTGMJL002-097_1_c0e02089-c814-430c-9d1b-df8b353dbfe8.jpg?v=1707664469&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/2_AW23_MENS_JERSEY_TOP_TGCW_20CRYSTAL_20EAGLE_20HOODIE_VINTAGE_20BLACK_EXTGMJL002-097_02.jpg?v=1707664469&width=1440"
                            alt="">
                    </div>

                    <div class="abrigosDescripcion">
                        <h3>Abrigo 06</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/1_AW23_MENS_JERSEY_TOP_TGCW_20EAGLE_20HOODIE_VINTAGE_20BLUE_EXTGMJL001-420_1.jpg?v=1708557754&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/1_AW23_MENS_JERSEY_TOP_TGCW_20EAGLE_20HOODIE_VINTAGE_20BLUE_EXTGMJL001-420_02_55de3b29-7560-486e-9136-09f7ea35b7f2.jpg?v=1708557754&width=1440"
                            alt="">
                    </div>

                    <div class="abrigosDescripcion">
                        <h3>Abrigo 07</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/88_AW23_Runway_JERSEY_TOP_AMIRI_20PREEMO_20HOODIE_AW23MJG012-001_BLACK.jpg?v=1707665602&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/88_02_AW23_Runway_JERSEY_TOP_AMIRI_20PREEMO_20HOODIE_AW23MJG012-001_BLACK_1854.jpg?v=1707665602&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 08</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/87_JERSEY_TOP_MALOGOHOODIE_PF23MJL009-610_RED.jpg?v=1708558480&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/87_02_JERSEY_TOP_MALOGOHOODIE_PF23MJL009-610_RED_1513_a2deab5d-b2e0-432a-b731-ebdc67814a8b.jpg?v=1708558480&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 09</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/122_PRE-SS24_MENS_JERSEY_TOP_DISTRESSED_20ARTS_20DISTRICT_20HOODIE_BLACK_1381886d-5366-4ff4-b90a-fe1294e2915b.jpg?v=1705778415&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/122_PRE-SS24_MENS_JERSEY_TOP_DISTRESSED_20ARTS_20DISTRICT_20HOODIE_BLACK_02_4706.jpg?v=1705778415&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 10</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/58_PRE-SPRING_2024_JERSEY_TOP_AMIRI_20TRACK_20HOODIE_AMJYHD1003_FADED_20BLACK_445225bb-2b1e-4b48-b655-55aa6346811b.jpg?v=1707662678&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/58_PRE-SPRING_2024_JERSEY_TOP_AMIRI_20TRACK_20HOODIE_AMJYHD1003_FADED_20BLACK_02_1211_98f0a21c-a6bf-4f76-bc8c-6c684c5c3bc9.jpg?v=1707662678&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 11</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="abrigos">
                    <div class="abrigosImagen">
                        <img src="https://amiri.com/cdn/shop/products/81_SS24_MENS_JERSEY_TOP_AMJYHD1021-460_WASHED_20MA_20SHOTGUN_20HOODIE_GRAY_20DAWN_3f061082-95f2-404d-916d-23cfde7b65af.jpg?v=1709002244&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/81_02_SS24_MENS_JERSEY_TOP_AMJYHD1021-460_WASHED_20MA_20SHOTGUN_20HOODIE_GRAY_20DAWN_3826_465d76c6-4a84-497f-8184-a499ae53df30.jpg?v=1709002244&width=1440"
                            alt="">
                    </div>
                    <div class="abrigosDescripcion">
                        <h3>Abrigo 12</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
        </section>
    </main>