<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrito.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>CampusShop</title>
</head>

<body>
    <aside>
        <h1>CampusShop</h1>
        <div class="productOptions">
            <a href="../index.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/fluency-systems-regular/48/border-all--v2.png"
                    alt="border-all--v2" />
                <p>Todos los productos</p>
            </a>
            <a href="../views/abrigos.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/glyph-neue/64/coat.png" alt="coat" />
                <p>Abrigos</p>
            </a>
            <a href="../views/camisas.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/t-shirt--v1.png"
                    alt="t-shirt--v1" />
                <p>Camisetas</p>
            </a>
            <a href="../views/zapatos.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/sneakers.png" alt="sneakers"/>
                <p>Zapatos</p>
            </a>
        </div>
        <a href="../views/carrito.html" class="carrito">
            <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/shopping-cart.png"
                alt="shopping-cart" />
            <p>Carrito</p>
            <span>3</span>
        </a>
        <p id="copy">©2023 Camper</p>
    </aside>
    <main>
        <h1>Carrito</h1>
        <div class="carritoPRODUCTOS">
            <div class="carritoProducto">
                <div class="carritoProductoImagen">
                    <img src="https://amiri.com/cdn/shop/products/2_AW23_MENS_JERSEY_TOP_TGCW_20CRYSTAL_20EAGLE_20HOODIE_VINTAGE_20BLACK_EXTGMJL002-097_1_c0e02089-c814-430c-9d1b-df8b353dbfe8.jpg?v=1707664469&width=1440" alt="">
                    <img src="https://amiri.com/cdn/shop/products/2_AW23_MENS_JERSEY_TOP_TGCW_20CRYSTAL_20EAGLE_20HOODIE_VINTAGE_20BLACK_EXTGMJL002-097_02.jpg?v=1707664469&width=1440" alt="">
                </div>
                <div class="carritoProductoNombre">
                    <p>AMIRI CRYSTAL EAGLE</p>
                    <p>Abrigo 06</p>
                </div>
                <div class="carritoProductoCantidad">
                    <p>Cantidad</p>
                    <input type="number" id="numero" name="numero" value="1">
                </div>
                <div class="carritoProductoCantidad">
                    <p>Subtotal</p>
                    <p>$1.200</p>
                </div>
                <div class="carritoProductoSubtotal">
                    <p>Total</p>
                    <p>$1.500</p>
                </div>
                <i class='bx bxs-trash'></i>
            </div>
            <div class="carritoProducto">
                <div class="carritoProductoImagen">
                    <img src="https://amiri.com/cdn/shop/products/6_SUPER_20BOWL_SHIRT_TOP_MESH_20FOOTBAL_20JERSEY_WHITE_1_83722ab1-924c-4b04-b921-e07d0e66e7d8.jpg?v=1708558424&width=1440" alt="">
                    <img src="https://amiri.com/cdn/shop/products/6_SUPER_20BOWL_SHIRT_TOP_MESH_20FOOTBAL_20JERSEY_WHITE_2_e475fd9e-4755-4fea-9cf5-a39f471b17b1.jpg?v=1708558424&width=1440" alt="">
                </div>
                <div class="carritoProductoNombre">
                    <p>AMIRI SUPERBOWL WHITE</p>
                    <p>Camiseta 03</p>
                </div>
                <div class="carritoProductoCantidad">
                    <p>Cantidad</p>
                    <input type="number" id="numero" name="numero" value="1">
                </div>
                <div class="carritoProductoCantidad">
                    <p>Subtotal</p>
                    <p>$500</p>
                </div>
                <div class="carritoProductoSubtotal">
                    <p>Total</p>
                    <p>$550</p>
                </div>
                <i class='bx bxs-trash'></i>
            </div>
            <div class="carritoProducto">
                <div class="carritoProductoImagen">
                    <img src="https://amiri.com/cdn/shop/products/150_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1001-083_MA-1_BLACK_20BLACK_1.jpg?v=1708740696&width=1440" alt="">
                    <img src="https://amiri.com/cdn/shop/products/150_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1001-083_MA-1_BLACK_20BLACK_2.jpg?v=1708740696&width=1440" alt="">
                </div>
                <div class="carritoProductoNombre">
                    <p>AMIRI MA-1 BLACK</p>
                    <p>Zapato 10</p>
                </div>
                <div class="carritoProductoCantidad">
                    <p>Cantidad</p>
                    <input type="number" id="numero" name="numero" value="1">
                </div>
                <div class="carritoProductoCantidad">
                    <p>Subtotal</p>
                    <p>$2.500</p>
                </div>
                <div class="carritoProductoSubtotal">
                    <p>Total</p>
                    <p>$3.500</p>
                </div>
                <i class='bx bxs-trash'></i>
            </div>
        </div>
        </div>
        <div class="optionsCarrito">
            <a href="./carritoEmpty.html">Vaciar Carrito</a>
            <div class="total">
                <div class="totalMoney">
                    <p>Total</p>
                    <p>$5.500</p>
                </div>
                <button>Comprar Ahora</button>
            </div>
        </div>
    </main>
</body>

</html>