<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pantalones.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>CampusShop</title>
</head>

<body>
    <aside>
        <h1>CampusShop</h1>
        <div class="productOptions">
            <a href="../index.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/fluency-systems-regular/48/border-all--v2.png"
                    alt="border-all--v2" />
                <p>Todos los productos</p>
            </a>
            <a href="abrigos.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/glyph-neue/64/coat.png" alt="coat" />
                <p>Abrigos</p>
            </a>
            <a href="camisas.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/t-shirt--v1.png"
                    alt="t-shirt--v1" />
                <p>Camisetas</p>
            </a>
            <a href="pantalones.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/glyph-neue/64/trousers.png" alt="trousers" />
                <p>Pantalones</p>
            </a>

        </div>
        <a href="carrito.html" class="carrito">
            <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/shopping-cart.png"
                alt="shopping-cart" />
            <p>Carrito</p>
            <span>3</span>
        </a>
        <p id="copy">©2023 AMIRI by JhoanSB</p>
    </aside>
    <main>
        <section class="container__pantalones">
            <h1>Pantalones</h1>
            <div class="pag_pantalones">
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img
                            src="https://amiri.com/cdn/shop/products/170_PXMJS003-001_MA_20CORE_20LOGO_20SWEATPANT_BLACK_PS22_3092_14744ce2-d3c8-40d4-9e80-b61fff7388f0.jpg?v=1708985430&width=1440">
                        <img src="https://amiri.com/cdn/shop/products/170_05_PXMJS003-001_MA_20CORE_20LOGO_20SWEATPANT_BLACK_PS22_3086_fab97edc-2b0d-4018-b059-b31ed7ba1555.jpg?v=1708985430&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 01</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/55_PRE-SPRING_2024_JERSEY_BOTTOM_AMIRI_20STAGGERED_20SWEATPANT_PS24MJL017_BLACK.jpg?v=1708558732&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/55_07_PRE-SPRING_2024_JERSEY_BOTTOM_AMIRI_20STAGGERED_20SWEATPANT_PS24MJL017_BLACK_0477.jpg?v=1708558732&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 02</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/57_SS24_MENS_JERSEY_BOTTOM_AMJYSP1011-001_AMIRI_20ANGEL_20SWEATPANT_BLACK_2173d6df-ae1a-48dc-911d-077491201039.jpg?v=1708557623&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/57_07_SS24_MENS_JERSEY_BOTTOM_AMJYSP1011-001_AMIRI_20ANGEL_20SWEATPANT_BLACK_0392_63f7dc9b-f46b-45cd-bb8f-046960217136.jpg?v=1708557623&width=1440"
                            alt="">
                    </div>

                    <div class="pantalonesDescripcion">
                        <h3>pantalone 03</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/54_PRE-SPRING_2024_JERSEY_BOTTOM_AMIRI_20STAGGERED_20SWEATPANT_PS24MJL017_RAIN_20FOREST_bcc25ba7-8331-4c83-a91c-37fa9378c976.jpg?v=1708882251&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/54_07_PRE-SPRING_2024_JERSEY_BOTTOM_AMIRI_20STAGGERED_20SWEATPANT_PS24MJL017_RAIN_20FOREST_0488.jpg?v=1708882251&width=1440"
                            alt="">
                    </div>

                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 04</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/84_SS24_MENS_DENIM_BOTTOM_AMDNSY1014-051_AMIRI_20ANGEL_20JEAN_FADED_20BLACK.jpg?v=1708072234&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/84_06_SS24_MENS_DENIM_BOTTOM_AMDNSY1014-051_AMIRI_20ANGEL_20JEAN_FADED_20BLACK_4163.jpg?v=1708072235&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 05</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/98_02_SS24_MENS_DENIM_BOTTOM_AMDNSY1016-018_20_TIE_20DYE_20CORE_20LOGO_20JEAN_BLACK_20OD_0151_1c2f4a0d-a9f8-471d-b2d2-380e691dd219.jpg?v=1707665181&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/98_04_SS24_MENS_DENIM_BOTTOM_AMDNSY1016-018_20_TIE_20DYE_20CORE_20LOGO_20JEAN_BLACK_20OD_0156.jpg?v=1707665181&width=1440"
                            alt="">
                    </div>

                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 06</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/126_01_AW23_Runway_DENIM_BOTTOM_MX1_20JEAN_EXMDS019-246_VINTAGE_20INDIGO_GOJI_20BERRY_2208182a-1032-4c1b-b010-6e5e51d33238.jpg?v=1707662579&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/126_06_AW23_Runway_DENIM_BOTTOM_MX1_20JEAN_EXMDS019-246_VINTAGE_20INDIGO_GOJI_20BERRY_1697_UPDATED_7e01fe1e-60a9-4d29-9476-1c11813e61e6.jpg?v=1707662579&width=1440"
                            alt="">
                    </div>

                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 07</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/80_PRE-SPRING_2024_DENIM_BOTTOM_CORE_20LOGO_20BANDANA_20JCQRD_20JEAN_AMDNSY1011_VINTAGE_20INDIGO.jpg?v=1702327523&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/80_PRE-SPRING_2024_DENIM_BOTTOM_CORE_20LOGO_20BANDANA_20JCQRD_20JEAN_AMDNSY1011_VINTAGE_20INDIGO_06_4024.jpg?v=1702327523&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 08</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/83_PRE-SPRING_2024_DENIM_BOTTOM_DISTRESSED_20ARTS_20DISTRICT_20JEAN_AMDNSY1009_BLACK_20OD.jpg?v=1708557620&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/83_06_PRE-SPRING_2024_DENIM_BOTTOM_DISTRESSED_20ARTS_20DISTRICT_20JEAN_AMDNSY1009_BLACK_20OD_2315.jpg?v=1708557620&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 09</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/100_PRE-SPRING_2024_DENIM_BOTTOM_WAXED_20LOGO_20JEAN_AMDNSY1010_BLACK.jpg?v=1708556492&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/100_06_PRE-SPRING_2024_DENIM_BOTTOM_WAXED_20LOGO_20JEAN_AMDNSY1010_BLACK_529.jpg?v=1708556492&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 10</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/89_SS24_MENS_DENIM_BOTTOM_AMDNSY1021-426_BOUCLE_20LOGO_20MX1_20JEAN_PERFECT_20INDIGO_d76c1b3c-9e48-4044-af63-4f05156f978f.jpg?v=1708558650&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/89_06_SS24_MENS_DENIM_BOTTOM_AMDNSY1021-426_BOUCLE_20LOGO_20MX1_20JEAN_PERFECT_20INDIGO_3988_97b94919-bd10-4674-8805-5f9572228f8c.jpg?v=1708558650&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 11</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="pantalones">
                    <div class="pantalonesImagen">
                        <img src="https://amiri.com/cdn/shop/products/131_DENIM_BOTTOM_CRYSTALEMBELLISHEDLOGOJEAN_PF23MDS015-518_FADEDBLACK.jpg?v=1707665118&width=1440"
                            alt="">
                        <img src="https://amiri.com/cdn/shop/products/131_06_DENIM_BOTTOM_CRYSTALEMBELLISHEDLOGOJEAN_PF23MDS015-518_FADEDBLACK_1867.jpg?v=1707665118&width=1440"
                            alt="">
                    </div>
                    <div class="pantalonesDescripcion">
                        <h3>Pantalone 12</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
        </section>
    </main>