<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/zapatos.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>CampusShop</title>
</head>

<body>
    <aside>
        <h1>CampusShop</h1>
        <div class="productOptions">
            <a href="../index.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/fluency-systems-regular/48/border-all--v2.png"
                    alt="border-all--v2" />
                <p>Todos los productos</p>
            </a>
            <a href="../views/abrigos.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/glyph-neue/64/coat.png" alt="coat" />
                <p>Abrigos</p>
            </a>
            <a href="../views/camisas.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/t-shirt--v1.png"
                    alt="t-shirt--v1" />
                <p>Camisetas</p>
            </a>
            <a href="../views/zapatos.html" class="productOption">
                <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/sneakers.png" alt="sneakers"/>
                <p>Zapatos</p>
            </a>

        </div>
        <a href="../views/carrito.html" class="carrito">
            <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/shopping-cart.png"
                alt="shopping-cart" />
            <p>Carrito</p>
            <span>3</span>
        </a>
        <p id="copy">©2023 Camper</p>
    </aside>
    <main>
        <section class="container__zapatos">
            <h1>zapatos</h1>
            <div class="pag_zapatos">
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/144_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1005-111_CLASSIC_20LOW_WHITE_20BLACK_1.jpg?v=1707665556&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/144_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1005-111_CLASSIC_20LOW_WHITE_20BLACK_2.jpg?v=1707665556&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 01</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/132_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1027-185_RETAIL_20EXCLUSIVE_20CLASSIC_20LOW_WHITE_20NAVY_1_30e34ee2-18a7-406e-a5b0-82fbca0e2097.jpg?v=1707945047&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/132_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1027-185_RETAIL_20EXCLUSIVE_20CLASSIC_20LOW_WHITE_20NAVY_2jpg_9d6e3e4c-c87c-461f-8182-1a317b00d01c.jpg?v=1707945047&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 02</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/6_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA_20RUNNER_PS24MFS021_Brown_1.jpg?v=1708997442&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/6_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA_20RUNNER_PS24MFS021_Brown_2.jpg?v=1708997442&width=1440" alt="">
                    </div>

                    <div class="zapatosDescripcion">
                        <h3>Zapato 03</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/139_PRE-SS24_MENS_FOOTWEAR_SHOES_MA_20RUNNER_GREEN_1_8765c31e-a1e9-4fe4-8f69-77b3c170f48d.jpg?v=1706047939&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/139_PRE-SS24_MENS_FOOTWEAR_SHOES_MA_20RUNNER_GREEN_2_c2bae6bd-e619-4b8b-a2b0-b0076be54906.jpg?v=1706047939&width=1440" alt="">
                    </div>

                    <div class="zapatosDescripcion">
                        <h3>Zapato 04</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/7_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA_20RUNNER_PS24MFS021_Air_20Blue_1_c723d1ba-e11d-4227-9b35-067a4114999c.jpg?v=1708556924&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/7_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA_20RUNNER_PS24MFS021_Air_20Blue_2_381694e1-8fc0-455f-88a7-d771f14ac6a9.jpg?v=1708556924&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 05</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/8_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA_20RUNNER_PS24MFS021_White_1.jpg?v=1707662006&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/8_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA_20RUNNER_PS24MFS021_White_2.jpg?v=1707662006&width=1440" alt="">
                    </div>

                    <div class="zapatosDescripcion">
                        <h3>Zapato 06</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/148_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1001-142_MA-1_WHITE_20MINT_1.jpg?v=1709003447&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/148_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1001-142_MA-1_WHITE_20MINT_2.jpg?v=1709003447&width=1440" alt="">
                    </div>

                    <div class="zapatosDescripcion">
                        <h3>Zapato 07</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/145_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1005-271_CLASSIC_20LOW_ALABASTER_1_75494b34-ec36-4834-aa22-71ddbf21982f.jpg?v=1707665300&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/145_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1005-271_CLASSIC_20LOW_ALABASTER_2_0785074b-d4cf-4329-853a-65540235b926.jpg?v=1707665300&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 08</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/AW23_MENS_SHOES__EXMFS012-651_PINK_1.jpg?v=1707663619&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/AW23_MENS_SHOES__EXMFS012-651_PINK_2.jpg?v=1707663619&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 09</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/150_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1001-083_MA-1_BLACK_20BLACK_1.jpg?v=1708740696&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/150_SS24_MENS_FOOTWEAR_SHOES_AMFOSR1001-083_MA-1_BLACK_20BLACK_2.jpg?v=1708740696&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 10</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/27_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA-1_PS24MFS018_Red_1.jpg?v=1708740691&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/27_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA-1_PS24MFS018_Red_2.jpg?v=1708740691&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 11</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="zapatos">
                    <div class="zapatosImagen">
                        <img src="https://amiri.com/cdn/shop/products/29_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA-1_PS24MFS018_Brown_1.jpg?v=1709062822&width=1440" alt="">
                        <img src="https://amiri.com/cdn/shop/products/29_Pre-SS24_20Men_s_20Footwear_FOOTWEAR_Sneaker_MA-1_PS24MFS018_Brown_2.jpg?v=1709062822&width=1440" alt="">
                    </div>
                    <div class="zapatosDescripcion">
                        <h3>Zapato 12</h3>
                        <h5>$1000</h5>
                        <button>Agregar</button>
                    </div>
                </div>
        </section>
    </main>